section.phanam-intro-about-us-2
	.container
		.row
			.col-12.col-lg
				figure
					img(src='./img/02_intro/intro_icon_1.png', alt='')
					figcaption
						h3 Am hiểu môi trường kinh doanh
			.col-12.col-lg
				figure
					img(src='./img/02_intro/intro_icon_2.png', alt='')
					figcaption
						h3 Tích hợp giá trị chuỗi
			.col-12.col-lg
				figure
					img(src='./img/02_intro/intro_icon_3.png', alt='')
					figcaption
						h3 Mang lại giá trị cộng thêm
			.col-12.col-lg
				figure
					img(src='./img/02_intro/intro_icon_4.png', alt='')
					figcaption
						h3 Cải tiến dịch vụ liên tục
			.col-12.col-lg
				figure
					img(src='./img/02_intro/intro_icon_5.png', alt='')
					figcaption
						h3 Canh tranh về chi phí hệ thống