section.phanam-service-2
	.container
		.row
			.col-12
				.block-wrapper
					.info-wrapper
						h2 Dịch vụ phân phối
						p Với hệ thống phủ rộng rộng khắp nước, đội ngũ giao hàng có mặt trên 64 tỉnh thành, hệ thống kho bãi đạt chuẩn GDP, quy trình chặt chẽ, chúng tôi sẽ mang đến cho khách hàng dịch vụ giao hàng vượt trội
						a(href="#").btn.btn-more xem thêm

					.banner-info-wrapper
						.banner(bg-img='./img/03_service/service_banner_1.png')
				.block-wrapper
					.info-wrapper
						h2 Dịch vụ bán hàng
						p Với đội ngũ nhân viên bán hàng được đào tạo đầy đủ và tâm huyết của Pha Nam chúng tôi – Khách Hàng không thể nói “Không”
						a(href="#").btn.btn-more xem thêm

					.banner-info-wrapper
						.banner(bg-img='./img/03_service/service_banner_2.png')

				.block-wrapper
					.info-wrapper
						h2 Dịch vụ Tiếp thị tại điểm bán
						p Chúng tôi luôn tập trung nghiên cứu và thực hiện các giải pháp nhằm cho người tiêu dùng tiếp cận & cảm nhận tốt nhất về sản phẩm tại Nhà Thuốc
						a(href="#").btn.btn-more xem thêm

					.banner-info-wrapper
						.banner(bg-img='./img/03_service/service_banner_3.png')

				.block-wrapper
					.info-wrapper
						h2 Dịch vụ Khảo sát thị trường
						p Nắm bắt được tầm quan trọng của hoạt động khảo sát thị trường, chúng tôi đã không ngừng đầu tư nghiên cứu và tổ chức mạng lưới nhân sự phủ rộng tên toàn quốc nhằm nâng cao hiệu quả của hoạt động khảo sát thị trường
						a(href="#").btn.btn-more xem thêm

					.banner-info-wrapper
						.banner(bg-img='./img/03_service/service_banner_4.png')
