section.canhcam-slider-1
	article
		.list-items
			.item
				a(href="#")
					img(src='./img/home/slider_1.png', alt='')
			.item
				a(href="#")
					img(src='./img/home/slider_2.png', alt='')
			.item
				a(href="#")
					img(src='./img/home/slider_3.png', alt='')
