section.phanam-intro-about-us-1
	.container
		.row
			.col
				.wrapper
					img.img-fluid(src='./img/global/logo_small.png', alt='')
					h2 Công ty Cổ phần Dược Pha Nam
					p Với định hướng trở thành Công phân phối dược phẩm trong nước số 1 tại Việt Nam, Công Ty Cổ Phần Dược Pha Nam không ngừng phát triển hệ thống rộng khắp cả nước và luôn hướng tới việc thỏa mãn trên mức mong đợt của khách hàng bằng dịch vụ nhanh nhất và độc đáo.Với định hướng trở thành Công phân phối dược phẩm trong nước số 1 tại Việt Nam, Công Ty Cổ Phần Dược Pha Nam không ngừng phát triển hệ thống rộng khắp cả nước và luôn hướng tới việc thỏa mãn trên mức mong đợt của khách hàng bằng dịch vụ nhanh nhất và độc đáo.Với định hướng trở thành Công phân phối dược phẩm trong nước số 1 tại Việt Nam.

