extends _layout/_layout.pug

block var
	- title = 'Home'
	- bodyClass = 'intro-about-us-page'

block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/banner/b-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/intro-about-us/i-nav/index.pug
	include ../lib/intro-about-us/i-1/index.pug
	include ../lib/intro-about-us/i-2/index.pug
	include ../lib/intro-about-us/i-3/index.pug
	include ../lib/intro-about-us/i-4/index.pug
block footer
	include ../lib/footer/f-1/index.pug