section.phanam-intro-about-us-3
	.container
		.row
			.col-12
				.block-wrapper
					.info-wrapper
						h2 Sứ mạng
						p Không ngừng phát triển hệ thống phân phối dược phẩm rộng khắp cả nước.

						p Luôn hướng tới việc thỏa mãn trên mức mong đợi cả khách hàng bằng dịch vụ nhanh nhất và độc đáo

					.banner-info-wrapper
						.banner(bg-img='./img/02_intro/intro_banner_1.png')
				.block-wrapper
					.info-wrapper
						h2 tầm nhìn
						p Xây dựng Pha Nam là công ty phân phối dược phẩm trong nước số 1 Việt Nam

					.banner-info-wrapper
						.banner(bg-img='./img/02_intro/intro_banner_2.png')
